h1{color:blue;text-transform: uppercase;text-align:center;}
a:visited{color:blue;}
h2{font-size:14px;text-decoration: underline;text-align:center;}
p{font-size:12px;color:yellow;background-color:black; font-weight:bold;text-indent: 2em;text-align:center;}
img{border:2px solid red;}
img{margin:0 auto;}